.newsletter_section{
    background-image: url('../../../Assets/images/Newsletter.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.newsletter_section .newsletter_title{
    text-align: center;
    margin-bottom: 80px;
}
.newsletter_section .newsletter_title .newsletter_heading{
    font-size: 42px;
    line-height: 1.3;
    color: #fff;
    font-family:  Poppins Regular;
}
.newsletter_section .newsletter_title .newsletter_border {
    align-items: center;
    display: flex;
    margin: 40px auto 0;
    justify-content: center;
    color: #fff;
}
.newsletter_section .newsletter_title .newsletter_border:after, 
.newsletter_section .newsletter_title .newsletter_border:before {
    content: "";
    display: block;
    height: 1px;
    width: 125px;
    background: currentColor;
    opacity: .15;
}
.newsletter_section .newsletter_title .newsletter_border .newsletter_icon {
    background: transparent;
    width: 60px;
    font-size: 25px;
    color: gray;
}
.newsletter_section .newsletter_title .newsletter_text {
    opacity: .7;
    font-size: 16px;
    margin-top: 40px;
    color: #fff;
}

.newsletter_section .newsletter_content .newsletter_input{
    display: flex;
}
.newsletter_section .newsletter_content .newsletter_input_box{
    width: 33.33%;
}
.newsletter_section .newsletter_content input {
    background: transparent;
    border: 1px solid #fff;
    padding: 13px 20px;
    color: #fff !important;
    width: 90%;
    border-radius: 5px;
    outline: none;
}
.newsletter_section .newsletter_content .newsletter_button .newsletter_btn{
    background-color: #fb0;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 30px;
    color: #fff !important;
    width: 90%;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
}
.newsletter_section .newsletter_content .newsletter_button .newsletter_btn:hover{
    border: 1px solid #fb0;
    background: transparent;
    color: #fb0 !important;
}
.newsletter_section .newsletter_checkbox{
    margin-top: 15px;
    color: #fff;
}
.newsletter_section .newsletter_checkbox label {
    font-size: 14px;
    font-weight: 400;
    display: flex !important;
    align-items: center;
}
.newsletter_section .newsletter_checkbox label input {
    display: none;
}
.newsletter_section .newsletter_checkbox label span {
    height: 15px;
    width: 15px;
    border: 1px solid #fff;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    border-radius: 3px;
} 
.newsletter_section .newsletter_checkbox [type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    font-size: 10px;
    color: #fff !important;
}